<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        My Shop
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="p-2 text-dark" routerLink="/search" routerLinkActive="active">Search</a>
      <a class="p-2 text-dark" routerLink="/basket" routerLinkActive="active">Basket</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
  </div>