<div class="row">
    <div class="col">
        <p>Placeholder...</p>
    </div>
    <div class="col-md-8">
        <app-product-list></app-product-list>
    </div>
    <div class="col">
        <app-cart></app-cart>
    </div>
</div>
